// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.source_link {
  color: #FFF
}

.source_link:hover {
  color: #FFF
}

.sidebar_color {
  color: #0088CC
}